
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    justify-items: center;
}
.container{
    background-color: rgb(50, 47, 47);
    height: 100vh;
    width: 80vw;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    display: flex;
        justify-content: flex-start;
    /* align-items: center; */
    width: 90%;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.thumbnail{
        margin-right: -10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumbnail img{
    border-radius: 10px;
    height: 80%;
}
.content h3{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 2px;
  
}
.content p{
    color: #aaa;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.timebox{
        position: relative;
    top: 43px;
    right: 45px;
    color: black;
    font-size: 15px;
    background-color: black;
    border-radius: 5px;
}
.timebox p{
    font-size: 12px;
    color: white;
    padding: 2px 4px;
    margin: 0px;
    font-family: "Roboto", "Arial", sans-serif;
}